<div>
  <div class="jumbotron" style="margin: 35px">
    <div class="container">
      <h2 style="text-align: center; padding-top: 5%">Contact Details</h2>
    </div>
    <div class="container">
      <h6>
        <p style="text-align: center; padding-bottom: 20px; margin-top: -5px">
          E-mail:-aman@gmail.com
        </p>
      </h6>
    </div>
    <div class="container">
      <h6>
        <p style="text-align: center; padding-bottom: 20px">
          Address:Pune,INDIA
        </p>
      </h6>
    </div>
    <div class="container">
      <h6><p style="text-align: center">Phone:-7294930173</p></h6>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
